<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.5.1" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.1.0" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.0" targetFramework="net45" />
  <package id="EPPlus" version="7.3.2" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net45" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net45" />
  <package id="FParsec" version="1.0.1" targetFramework="net45" />
  <package id="FSharp.Data" version="1.1.10" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.12.1" targetFramework="net48" />
  <package id="MailKit" version="4.12.0" targetFramework="net48" />
  <package id="MimeKit" version="4.12.0" targetFramework="net48" />
  <package id="OAuth2Client" version="1.6.1.2571" targetFramework="net45" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="8.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="VersionOne.Parsers" version="1.1.0.0" targetFramework="net45" />
</packages>