@inherits MyWebPage
@using SLK.Common
@functions {
    [Component
        (Type = ComptType.Page_Element,
        ComptName = "en:Page footer component|vi:Thành phần chân trang")]
    public class ViewModel : PageListModel
    {



        public static ViewModel Default => new ViewModel
        {


        };
    }/*end_viewmodel*/
    private ViewModel _data;
    private ViewModel Data => _data ?? (_data = ViewModel.Default);
    private MyTranslator Text => new MyTranslator(Data?.Phrases);
    private FieldExtractor<PP_Register> field = new FieldExtractor<PP_Register>();
    private PP_Register model = new PP_Register() { Status = "NEW" };
}
@{


    _data = LoadData<ViewModel>(key: $"{LangId}-{FileName}#{NodeSlug}", setup: (model) =>
    {


        return model;
    });

    Layout = IsDirectCall ? "~/_layouts/_layout.cshtml" : null;
}

<footer class="footer_wrap footer_custom footer_custom_3410 footer_custom_footer-main												">
    <div data-elementor-type="cpt_layouts" data-elementor-id="3410" class="elementor elementor-3410" data-elementor-post-type="cpt_layouts">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-89e4664 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_gradient_animation_none sc_fly_static" data-id="89e4664" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a0d27b6 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="a0d27b6" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-3923042 sc_height_tiny sc_fly_static elementor-widget elementor-widget-spacer" data-id="3923042" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-5ea2fd3 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="5ea2fd3" data-element_type="section">
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-71db40e sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="71db40e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-a7d73aa sc_height_tiny sc_fly_static elementor-widget elementor-widget-spacer" data-id="a7d73aa" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-be14bce elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="be14bce" data-element_type="section">
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-472476f sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="472476f" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-275812f sc_fly_static elementor-widget elementor-widget-text-editor" data-id="275812f" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p style="text-align: left;"><span style="font-size: 14pt;"><strong><span style="color: #000000;">VĂN PHÒNG TẠI HÀN QUỐC</span></strong></span></p><p><span style="color: #000000;"><i class="fa-solid fa-location-dot"></i> Địa chỉ: 서울특별시 강서구 방화동 262-27 1층 102호</span><br><span style="color: #000000;"><i class="fa-solid fa-circle-info"></i> Thông tin trên thecbe: NHB Logistics</span></p><p><span style="color: #000000;"><i class="fa-solid fa-phone"></i> Hotline: 010.2820.1264</span></p><p><span style="color: #000000;"><i class="fa-solid fa-envelope"></i> Email: sp.hiwexpress@gmail.com</span></p><p><span style="color: #000000;"><i class="fa-solid fa-feather"></i> 등록번호: 1494801039</span></p><p><span style="color: #000000;"><i class="fa-solid fa-clock"></i> Giờ làm việc: Từ 8h-17h (T7, CN nghỉ)</span></p>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-52081c4 sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet elementor-widget-divider--view-line sc_fly_static elementor-widget elementor-widget-divider" data-id="52081c4" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-61b7680 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="61b7680" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-e33013b sc_fly_static elementor-widget elementor-widget-text-editor" data-id="e33013b" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p style="text-align: left;"><span style="font-size: 14pt; color: #000000;"><strong>VĂN PHÒNG TẠI VIỆT NAM</strong></span></p><p><span style="color: #000000;"> <span class="OYPEnA font-feature-liga-off font-feature-clig-off font-feature-calt-off text-decoration-none text-strikethrough-none"><i class="fa-solid fa-location-dot"></i> Địa chỉ: 21 Phố Sa Đôi, Phường Đại Mỗ, Quận Nam Từ Liêm, Hà Nội</span>.</span></p><p><span style="color: #000000;"><i class="fa-solid fa-phone"></i> 0852.573.799 – 099.379.7777</span></p><p><span style="color: #000000;"><i class="fa-solid fa-envelope"></i> Email: sp.hiwexpress@gmail.com</span></p><p><span style="color: #000000;"><i class="fa-solid fa-clock"></i> Giờ làm việc: Từ 8h-17h (T7, CN nghỉ)</span></p>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-214124f sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet elementor-widget-divider--view-line sc_fly_static elementor-widget elementor-widget-divider" data-id="214124f" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7cb8590 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="7cb8590" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-1d9eb3a sc_fly_static elementor-widget elementor-widget-text-editor" data-id="1d9eb3a" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p style="text-align: left;"><span style="color: #000000;"><strong>LIÊN HỆ CHÚNG TÔI TRÊN FANPAGE</strong></span></p>
                                <iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhieuvanchuyenhanviet&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=883229755056523" width="340" height="130" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe>
                                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnhblogistic%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-531224a sc_layouts_row sc_layouts_row_type_compact scheme_dark elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="531224a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0ffdd5f sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="0ffdd5f" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-f969f94 sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile sc_fly_static elementor-widget elementor-widget-spacer" data-id="f969f94" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-0e762ff sc_height_tiny sc_fly_static elementor-widget elementor-widget-spacer" data-id="0e762ff" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-6be0fb3 elementor-widget-divider--view-line sc_fly_static elementor-widget elementor-widget-divider" data-id="6be0fb3" data-element_type="widget" data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-f333d12 sc_layouts_hide_on_mobile sc_fly_static elementor-widget elementor-widget-spacer" data-id="f333d12" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-0e43ad2 sc_fly_static elementor-widget elementor-widget-text-editor" data-id="0e43ad2" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p style="text-align: center;"><span style="color: #ffffff;"><strong>Nhblogistics.com &#8211; Vận chuyển Hàn &#8211; Việt</strong></span></p>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-211e25b sc_fly_static elementor-widget elementor-widget-spacer" data-id="211e25b" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>

<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up scroll_to_top_style_default" title="Scroll to top"></a>		
<div id="button-contact-vr" class="">
    <div id="gom-all-in-one">
     
        <div id="zalo-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a target="_blank" href="account">
                        <img src="wp-content/plugins/button-contact-vr/img/zalo.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
